# Binaires et objets compilés
*.o
*.so
*.a
*.out

# Fichiers de l'éditeur
*.swp
*.swo
*~

# Fichiers de build
/build/
/bin/

# Fichiers spécifiques à certains IDEs
.vscode/
.idea/
*.cproject
*.project